/* imports */
@import url(./_global.css);

/* 1. Zerando estilização padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 2. Estilização do body */
.wrapperBody{
    height: 100vh;
    background-color: var(--fundobody);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 3. Estilização da navbar */
.wrapperBody .box{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapperBody .box .navbar-brand{
    text-decoration: solid 1px;
}

.wrapperBody .box #nomeUsuario{
    display: flex;
    align-items: center;
}

.wrapperBody .box h1 {
    margin: 0;
}

/* 4. Estilização card tarefas */

.wrapperCard{
    display: flex;
    justify-content: center;
}

.wrapperCard .card{
    width: 50vw;
}

/* 4.1 Estilização cabeçalho card */
.wrapperCard .card .card-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapperCard .card .card-header .inputAdiciona{
    display: flex;
    gap: 10px;    
}

/* 4.2 Estilização corpo card */

.wrapperCard .card .list-group-item{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.wrapperCard .card .itemBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrapperCard .card .itemBox p{
    margin: 0;
}

.wrapperCard .card .itemBox .form-check-input {
    display: inline;
}